/lectimeline.docx
/slide01.jpg
/slide02.JPG
/slide03.JPG
/slide04.JPG
/slide05.JPG
/slide06.JPG
/slide07.JPG
/slide08.JPG
/slide09.JPG
/slide10.JPG
/slide11.JPG
/slide12.JPG
/slide13.JPG
/slide14.JPG
/slide15.JPG
/slide16.JPG
/slide17.JPG
/slide18.JPG
/slide19.JPG
/slide20.JPG
/slide21.JPG
/slide22.JPG
/slide23.JPG
/slide24.JPG
/slide25.JPG
/slide26.JPG
/slide27.JPG
/slide29.JPG
/~WRL0003.tmp